<html>
<head>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/easyrtc/easyrtc.js"></script>
    <script src="https://unpkg.com/networked-aframe/dist/networked-aframe.min.js"></script>
    <!--  <script src="networked-aframe-custom.js"></script> -->
    <script src="https://unpkg.com/aframe-event-set-component@3.0.3/dist/aframe-event-set-component.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.5.1/dist/aframe-look-at-component.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize//1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/stream.js"> </script>
    <link href="/css/group.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script>

        // if (window.location.protocol == "http:") {
        //   console.log("You are not connected with a secure connection.")
        //   console.log("Reloading the page to a Secure Connection...")
        //   window.location = document.URL.replace("http://", "https://");
        // }
        //
        // if (window.location.protocol == "https:") {
        //   console.log("You are connected with a secure connection.")
        // }
    </script>

</head>
<body>
<div class="stream">
    <%if(checkYoutubeURL(youtube)){%>
    <div class="video-container" style="width:100%;height:100vh">
        <iframe src=<%=embedYoutubeURL(youtube)%> frameborder="0" allowfullscreen></iframe>
    </div>
    <%} else{ %>
    <div class="valign-wrapper" style="height:100vh"><h3 style="margin:0 auto;">YouTube stream not
            available.</h3></div>
    <%}%>
    <a href="/course/<%=courseID%>/<%=lectureID%>" id="exit-group-discussion" class="waves-light btn-flat overlay-btn-left">EXIT</a>
    <button data-target="recorder-modal" id="recorder-modal-trigger"
            class="modal-trigger waves-light btn-flat overlay-btn-right"><img src="/icons/stop.svg"></button>
    <div id="recorder-modal" class="modal">
        <div class="modal-content">
            <%- include partials/recorder.ejs%>
        </div>
    </div>
</div>
</body>
</html>