.lecture .title-container .title-sub-container {
    flex: 1;
}
.lecture .title-container .title-sub-container h3 {
    flex-grow: 1;
    margin: 0;
    display: inline-block;
}
.lecture .title-container .title-sub-container #lecture-settings-trigger {
    width: 35px;
    height: 35px;
    padding: 0 0.5em 0 0;
    vertical-align: bottom;
    cursor: pointer;
}
.lecture .title-container .title-sub-container #lecture-settings-trigger img {
    width: 100%;
    height: 100%;
    vertical-align: inherit;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.lecture .title-container .title-sub-container #lecture-settings-trigger img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.lecture .title-container .toggle-lecture-active-container {
    text-align: right;
}
.lecture .title-container .toggle-lecture-active-container .toggle-lecture-active {
    display: inline-block;
}
.lecture .lecture-stats .chip span {
    font-weight: bold;
    font-size: 1.8em;
}
.lecture .lecture-stats .chip img {
    border-radius: 0 0 50% 50%;
}
.lecture .lecture-files-container {
    margin-top: 2em;
}
.lecture .group-settings .group-settings-form .group-range-field .range-field-label {
    color: #2196f3;
}
.lecture .collapsible .collapsible-header .material-icons {
    vertical-align: middle;
}
.lecture .collapsible .group-label {
    margin-bottom: 0;
    color: grey;
}
.hidden{
    visibility: hidden;
}

.question span {
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.question .play-button {
    background-color: #2196f3 !important;
}
.question .play-button:hover {
    cursor: pointer;
}